## Import Packages

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Set Data Path

In [5]:
# Replace with your own path
data_path = "/Users/yuema/MyCode/summer_data_science_hw/lecture2/Salary.csv"

## Read Data

In [6]:
data = pd.read_csv(data_path)

In [7]:
data.iloc[:5]

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race,Senior
0,32.0,Male,1,Software Engineer,5.0,90000.0,UK,White,0
1,28.0,Female,2,Data Analyst,3.0,65000.0,USA,Hispanic,0
2,45.0,Male,3,Manager,15.0,150000.0,Canada,White,1
3,36.0,Female,1,Sales Associate,7.0,60000.0,USA,Hispanic,0
4,52.0,Male,2,Director,20.0,200000.0,USA,Asian,0

In [ ]:
data["Age"]

## Analysis with Numpy

In [ ]:
np.mean(data["Age"])

In [ ]:
np.median(data["Age"])

In [ ]:
np.max(data["Age"])

In [ ]:
np.min(data["Age"])

In [ ]:
a = 16.1

In [ ]:
a

## Matplotlib

In [ ]:
np.arange(0, 200000,10000)

In [ ]:
np.linspace(0, 200000,21)

### Histogram

In [ ]:
data["Salary"]

# For an integer binning, the binning will be done in the range of the data uniformly
#bins = 100

# For a list of bin edges, the binning will be done according to the edges
#bins = [0,50000,100000,150000]

# Use np.arange for binning
bins = np.arange(0,500000, 5000)

plt.hist(data["Salary"],color="red",bins=bins)
plt.xlabel("Salary")
plt.ylabel("Count")
plt.ylim(0,50)
plt.show()

In [ ]:
bins = np.arange(0, 100, 1)
plt.hist(data["Age"],bins=bins)
plt.xlabel("Age")
plt.ylabel("Count")
plt.show()

### Scatter Plot

In [ ]:
x = data["Age"]
y = data["Salary"]
plt.scatter(x,y,color="red",marker="*",s=10)
plt.xlabel("Age")
plt.ylabel("Salary")
plt.show()

In [ ]:
x = data["Age"]
y = data["Salary"]
plt.plot(x,y,color="red",marker="*",markersize=10)
plt.xlabel("Age") 
plt.ylabel("Salary")
plt.show()

In [3]:
np.sort(2)

AxisError: axis -1 is out of bounds for array of dimension 0